body{
  background-color: #333;
  margin:0px;
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;

}

img {
height: 250px;


}

.container{
  opacity: 50%;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 25px;;
  width: 50%;
  margin:auto;
  margin-bottom: 100px;
}
.flex-item {

  padding: 20px;
  margin: 10px;
  border-radius: 25px;;

}
.nav-container{
  display: flex;
  background-color: black;
  margin: 0px;
  padding: 10px;

}
  .nav-flex{
padding-right: 5px;
list-style-type: none;
color: antiquewhite;
flex-wrap: wrap;

}
ul{
  list-style-type: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
button{
  background-color: #5C7817;
}
#button{
  margin-left:111px;
  width: 40%;
}
#search-button{
  width: 40%;
}
#search-bar{
  width:70%;
}
.footer{
  display: flex;
  justify-content: center;
  background-color: black;
  margin: 0px;
  padding: 10px;
  color: antiquewhite;
}
