
body{
  background-repeat: no-repeat;
  font-family: 'Raleway', sans-serif;
  background-image: url(assets/img/22_dhans11.jpg)



}
footer{
  position: fixed;
  bottom:10px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 12px;
  color: #454851;
}


  .logo{
    margin-top:100px;
    height: 300px;
    width: 500px;

  }

  .logoContainer{
    display: flex;
    justify-self: baseline;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }
a {
text-decoration: none;
color:#454851

}

a:hover{
  color: white;
}
.search_container {
  position: top;
  display: flex;
  justify-content: center;
      padding-top: 64px;
      margin: 4px;
      height:50vh;
      align-self:flex-start;

}
.searchForm{
  display: flex;
  justify-content: flex-start;
}
.search_input {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  margin-right:100px;
  display: flex;
  justify-content: center;
  opacity: 50%;
  width: 89%;
  padding: 12px 24px;
  background-color:white;
  font-size: 14px;
  line-height: 18px;
  background-size: 18px ;
  border-radius: 50px;
  border: 1px solid #575756;
  color: #575756;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.searchButton{
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  margin-top:5px;
  margin-right:180px;
  display: flex;
  justify-content: center;
  margin-left: 150px;
  width: 30%;
  padding: 12px 24px;
  background-color:transparent;
  font-size: 14px;
  line-height: 18px;
  background-size: 18px ;
  border-radius: 50px;
  border: 1px solid #575756;
  text-transform:uppercase;


}
@media (max-width: 549px){
  #aboutBox{
    height:auto;
}
  #contactBox{
    height:auto;
  }

  .searchButton{
  width:auto;
  margin-left:175px;
}

  #search-bar{
    width: auto;
    margin-left: 125px;
  }

  .logo{
    height:200px;
    margin-top: 100;
width: auto;
  }
  .hidden--mobile {
    display: none !important;
  }

  nav {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  nav > i {
    padding: 1rem;
    font-size: 2em;
  }

  nav > ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 0;
  }

  nav > ul > li {
    padding: 0.5rem;
    list-style-type: none;
  }

  #bio img {
    float: left;
    width: 40%;
    height: auto;
    margin-right: 1rem;
  }

}
@media (min-width: 550px) {
  nav > ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0 0;
  }

  nav > ul > li {
    display: inline-block;
    text-decoration: none;
    padding: 0.5rem 0.5rem;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

  }

  nav > .fa-bars {
    display: none;
  }

  #bio {
    margin-right: 3rem;
  }

  #bio img {
    float: left;
    width: 25%;
    height: auto;
    margin-right: 1rem;
  }
}
/* Contact page CSS below */
.contactForm{
  width:700px;
  height:525px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius:8px;
  box-shadow:0 0 40px -10px #000;
  margin:calc(50vh - 220px) auto;
  padding:20px 30px;
  max-width:calc(100vw - 40px);
  font-family: 'Raleway', sans-serif;
}
.contact-header{
  margin:10px 0;
  padding-bottom:10px;
  width:180px;
  color:#78788c;
  border-bottom:3px solid #78788c
}
.flex-item{
  width:100%;
  padding:10px;
  background:none;
  outline:none;
  resize:none;
  border:0;
  font-family: 'Raleway', sans-serif;
  transition:all .3s;
  border-bottom:2px solid #bebed2

}
.flex-item:focus{
  border-bottom:2px solid #78788c
}
.submitButton{
  float:right;
  padding:8px 12px;
  margin:8px 0 0;
  font-family: 'Raleway', sans-serif;
  border:2px solid #78788c;
  background:0;
  color:#5a5a6e;
  cursor:pointer;
  transition:all .3s
}
p:before{content:attr(type);
  display:block;
  margin:28px 0 0;
  font-size:14px;
  color:#5a5a5a}



span{
  margin:0 5px 0 15px
}


/* AboutUs box CSS */

.aboutUsBox{
  width:700px;
  height:500px;
  background:#e6e6e6;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius:8px;
  box-shadow:0 0 40px -10px #000;
  margin:calc(50vh - 220px) auto;
  padding:20px 30px;
  max-width:calc(100vw - 40px);
  font-family: 'Raleway', sans-serif;
}
.aboutUsHeader{
margin:10px 0;
padding-bottom:10px;
width:180px;color:#78788c;
border-bottom:3px solid #78788c
}

/* Results page CSS */

.resultsBox{
  width:700px;
  height:auto;
  background:#e6e6e6;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius:8px;
  box-shadow:0 0 40px -10px #000;
  margin:calc(50vh - 220px) auto;
  padding:20px 30px;
  max-width:calc(100vw - 40px);
  font-family: 'Raleway', sans-serif;
}
.resultsHeader{
  margin:10px 0;
padding-bottom:10px;
width:180px;color:#78788c;
border-bottom:3px solid #78788c
}

#profileImg{
  box-shadow:0 0 40px -10px #000;
  height:100px;
  width: 100px;
  border-radius: 50%;
  border: 1px solid #78788c;
  margin: 3px;
  padding:3px;

}
.results{
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.5);
  list-style: none;
  border-radius: 8px;
  box-shadow:0 0 0 -10px #000;
  margin: 5px;
}

.resultsSubmit{
  border-radius: 35px;
  margin-top: 30px;
  margin-right: 3px;
  float:right;
  font-family: 'Raleway', sans-serif;
  border:2px solid #78788c;
  background:0;
  color:#5a5a6e;
  cursor:pointer;
  transition:all .3s
}

/* Booked View CSS */
.bookedBox{
  width:700px;
  height:auto;
  background:#e6e6e6;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius:8px;
  box-shadow:0 0 40px -10px #000;
  margin:calc(50vh - 220px) auto;
  padding:20px 30px;
  max-width:calc(100vw - 40px);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

#bookNowButton{
  padding: 3px;

}
#bookNowButton:hover{
  background:#78788c;
  color:#fff
}
#thumbsUp{
  width: 200px;
  height: auto;
  margin-left:250px;
  padding-bottom:20px;
}
